<!doctype html>
<html>

<body>
    <p>Dear {{ user.username }},</p>
    <p>
        Thank you for ordering your lunch at C++ Now!
    </p>
    <p> Lunch will be delivered at 12:45 time each day.</p>
    <p>
        Monday: {{ user.orders.monday }}</br>
        Tuesday: {{ user.orders.tuesday }}</br>
        Wednesday: {{ user.orders.wednesday }}</br>
        Thursday: {{ user.orders.thursday }}</br>
        Friday: {{ user.orders.friday }}</br>
    </p>
    <p>If you have questions please let us know.</p>
    <p>Sincerely,</p>
    <p>C++ Now Lunch Menu</p>
</body>

</html>