{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Hello, {{ current_user.username }}!</h1>
{% else %}
<h1>Hello!</h1>
{% endif %}
<article>
    <div>
        <p>
            Welcome to the lunch order system for C++ Now. Here you can select from a menu of items from local
            restaurants
            which we will have delivered each day at lunch time.
        </p>
        <p>
            The cost is {{ "$%.2f"|format(price) }} per day.
        </p>
        <p>
            This price includes all delivery, tax and gratuity to the
            restaurant.You pay only for the days you order lunch on. You can choose none for a day you do not wish to
            order. The menu choices for each day are shown below.
        </p>
        <p>
            <b>V</b> = Vegetarian
            <b>C</b> = Chicken
            <b>B</b> = Beef
            <b>P</b> = Pork
        </p>
        <p>
            Click <a href="/order">Order</a> to start when you are ready.
        </p>
    </div>
</article>

<h2>2024 Menu Items</h2>
<article>
    {% for item in items %}
    <div>
        <p>
            <b>{{ item.date }}</b></br>
            {% for opt in item.options %}
            {% if opt.type != 'N' %}
            {{ opt.name }} (<b>{{opt.type}}</b>) - {{opt.desc}}</br>
            {% endif %}
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</article>
{% endblock %}