{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <h2>Thank you for your order {{ user.username }}</h2>
    </div>
</section>
<table>
    <thead data-theme="light">
        <th>Day</th>
        <th>Lunch Order</th>
    </thead>
    <tr>
        <th scope="row">
            Monday
        </th>
        <td>
            {{ user.orders.monday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Tuesday
        </th>
        <td>
            {{ user.orders.tuesday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Wednesday
        </th>
        <td>
            {{ user.orders.wednesday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Thursday
        </th>
        <td>
            {{ user.orders.thursday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Friday
        </th>
        <td>
            {{ user.orders.friday }}
        </td>
    </tr>
</table>
<section>
    <div align="center">
        <h2>Total Due: ${{ user.orders.total() }}!</h2>
        <form action="/create-checkout-session" method="POST">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>
</section>
{% endblock %}