{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <h2>Thank you for your order {{ user.username }}</h2>
    </div>
</section>
<table>
    <thead data-theme="light">
        <th>Day</th>
        <th>Lunch Order</th>
    </thead>
    <tr>
        <th scope="row">
            Monday
        </th>
        <td>
            {{ user.orders.monday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Tuesday
        </th>
        <td>
            {{ user.orders.tuesday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Wednesday
        </th>
        <td>
            {{ user.orders.wednesday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Thursday
        </th>
        <td>
            {{ user.orders.thursday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Friday
        </th>
        <td>
            {{ user.orders.friday }}
        </td>
    </tr>
</table>
<section>
    <div align="center">
        <h2>You Paid ${{ user.orders.total() }}!</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.card.label }}<br>
                {{ form.card(size=64) }}<br>
                {% for error in form.card.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</section>
{% endblock %}