{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <h2>Thank you for your order {{ user.username }}</h2>
        Total Paid: ${{ '%0.2f'|format(so.total_paid|float) }}<br />
        Total Due: ${{ '%0.2f'|format(so.chargeDiff()|float) }}
    </div>
</section>
<table>
    <thead data-theme="light">
        <th>Day</th>
        <th>Lunch Order</th>
    </thead>
    {% if 'Past' not in so['monday'] %}
    <tr>
        <th scope="row">
            Monday
        </th>
        <td>
            {{ so['monday'] }}
        </td>
    </tr>
    {% endif %}
    {% if 'Past' not in so['tuesday'] %}
    <tr>
        <th scope="row">
            Tuesday
        </th>
        <td>
            {{ so['tuesday'] }}
        </td>
    </tr>
    {% endif %}
    {% if 'Past' not in so['wednesday'] %}
    <tr>
        <th scope="row">
            Wednesday
        </th>
        <td>
            {{ so['wednesday'] }}
        </td>
    </tr>
    {% endif %}
    {% if 'Past' not in so['thursday'] %}
    <tr>
        <th scope="row">
            Thursday
        </th>
        <td>
            {{ so['thursday'] }}
        </td>
    </tr>
    {% endif %}
    {% if 'Past' not in so['friday'] %}
    <tr>
        <th scope="row">
            Friday
        </th>
        <td>
            {{ so['friday'] }}
        </td>
    </tr>
    {% endif %}
</table>
<section>
    <div align="center">
        <h2>Total Due: ${{ '%0.2f'|format(so.chargeDiff()|float) }}</h2>
        <form action="/create-checkout-session" method="POST">
            {% if so.totalDaysDiff()==0 %}
            <button type="submit" id="checkout-button" disabled>No Change</button>
            {% elif so.totalDaysDiff()<0 %} <button type="submit" id="checkout-button" disabled>Contact
                lunch@cpp.events for Refunds</button>
                {% else %}
                <button type="submit" id="checkout-button">Check Out</button>
                {% endif %}
        </form>
    </div>
</section>
{% endblock %}