{% extends "base.html" %}

{% block content %}
<h1>Order Status</h1>
<section>
    <table>
        <thead data-theme="light">
            <th>Day</th>
            <th>Lunch Order</th>
        </thead>
        <tr>
            <th scope="row">
                Monday
            </th>
            <td>
                None (N)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Tuesday
            </th>
            <td>
                None (N)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Wednesday
            </th>
            <td>
                None (N)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Thursday
            </th>
            <td>
                None (N)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Friday
            </th>
            <td>
                None (N)
            </td>
        </tr>
    </table>
</section>
<section>
    <div>
        <h2>Total Paid: $0.00</h2>
    </div>
</section>
<p>
    Questions? Email <a href="mailto:lunch@cpp.events">lunch@cpp.events</a>
</p>
{% endblock %}